<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Management System :: System Administration</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
  <h5 style="text-align:center">Welcome to the System Administration</h5>
  <nav class="navbar navbar-expand-sm bg-light">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/secured/student/list">Student Lists</a>
      </li>


    <!--<a href="/secured/student/list">Student Lists</a>-->
    <!--    <a href="/secured/student/new">Students</a> |-->
    <!--<a>Transcripts</a> |
    <a>Classrooms</a> |-->
  </nav>
</main>
<footer></footer>
</body>
</html>
